body {
    background-image: url("/assets/dron.jpg");
    background-color: #cccccc;
    background-size: cover;
    height: 100%;
}

#time,
#date {
    color: white;
    font-size: 150px;
    text-align: center;
    font-weight: 500;
    padding: 40px;
}